body {
  margin: 0;
  padding: 0;
  background: #ba4949;
  cursor: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins";
  cursor: none;
}

a {
  text-decoration: none;
}

/* --- Mirafzal --- */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
  gap: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.navbar .right-nav,
.navbar .left-nav,
.navbar .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .left-nav {
  gap: 10px;
}
.navbar .left-nav h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.navbar .right-nav {
  gap: 10px;
  margin-top: 5px;
}
.navbar .right-nav .setting img {
  width: 20px;
  height: auto;
}
.navbar .right-nav .btn {
  width: 87.02px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.9;
  border-radius: 4px;
  color: #fff;
  gap: 6px;
  padding: 20px 50px;
}
.navbar .right-nav .btn:hover {
  opacity: 0.7;
  transform: translateY(-6px);
  transition: 0.4s;
}

.nava {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  color: #FFFFFF;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .line {
  width: 760px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
}

/* ---- Abdulloh --- */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 41px;
}
section .timer-box {
  height: 312px;
  width: 480px;
  border-radius: 6px;
  background-color: #c15b5b;
}
section .timer-box .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  padding-top: 24px;
}
section .timer-box .menu .pomodoro {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
section .timer-box .menu .short-break {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
section .timer-box .menu .long-break {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
section .timer-box .timer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 119px;
  line-height: 138px;
  color: #FFFFFF;
}
section .timer-box .start-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
section .timer-box .start-box .start {
  width: 200px;
  height: 55px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 6px 0px #EBEBEB;
  border-radius: 4px;
  font-family: "poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  /* identical to box height */
  color: #BA4949;
}
section .timer-box .start-box button:focus,
section .timer-box .start-box button:active {
  outline: none;
}
section .timer-box .start-box .start:active {
  transform: translateY(6px);
  box-shadow: none;
  outline: none;
}

main {
  margin-top: 20px;
}
main .center2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.6;
}
main .center3 {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4px;
  color: #FFFFFF;
}
main .task-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 390px;
  margin-top: 20px;
}
main .task-box .task {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #FFFFFF;
}
main .box {
  width: 32px;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  opacity: 0.9;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .under-line {
  width: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0 0.1s;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}

.add-task-box {
  margin-top: 18px;
  height: 64px;
  width: 480px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0.8;
  border: 2px dashed rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}
.add-task-box .gap {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 23px;
}
.add-task-box .gap .add {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  opacity: 0.8;
}

.start.active {
  box-shadow: rgb(235, 235, 235) 0px 0px 0px;
  transform: translateY(6px);
}

@media screen and (max-width: 805px) {
  .line {
    width: 480px !important;
  }
  .navbar {
    gap: 50px;
  }
}
@media screen and (max-width: 505px) {
  h1 {
    display: none !important;
  }
  .nava {
    display: none;
  }
  .btn {
    padding: 10px !important;
  }
  .timer-box {
    width: 350px !important;
  }
  .line {
    width: 350px !important;
  }
  .timer {
    font-size: 90px !important;
  }
  .task-box {
    gap: 250px !important;
  }
  .under-line {
    width: 350px !important;
  }
}